<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976092059625-onf1mrds2du7s485kadnadc0p9nu1nqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976092059625-onf1mrds2du7s485kadnadc0p9nu1nqr</string>
	<key>API_KEY</key>
	<string>AIzaSyCVPAhRkWmGsOJkiZ3Ql1P3npEHfcNbnIA</string>
	<key>GCM_SENDER_ID</key>
	<string>976092059625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workos</string>
	<key>PROJECT_ID</key>
	<string>workos-16f39</string>
	<key>STORAGE_BUCKET</key>
	<string>workos-16f39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976092059625:ios:18d7d0f2a29cbaac791d78</string>
</dict>
</plist>